$fadedOrange: #F6E3CE;

html, body {
  height: 100%;
}

.canvas {
  background-color: $fadedOrange;
}

.app-logo {
  height: 6em;
}

.ace_editor {
  height: 200px;
  margin-top: 2em;
}

pre {
  white-space: initial;
  padding-left: 2em;
}

.code-example {
	white-space: pre-wrap;
}
