@mixin box-shadow($top, $left, $blur, $color, $inset:"") {

      -webkit-box-shadow:$top $left $blur $color #{$inset};
      -moz-box-shadow:$top $left $blur $color #{$inset};
      box-shadow:$top $left $blur $color #{$inset};
    }

.navbar-toggle {
  float: left;
  margin: {
    top: 3vh;
    left: 1vw;
  }
}

.navbar-default {
  @include box-shadow(0, 0px, 0px, rgba(0, 0, 0, 0), inset);
}

.navmenu {
  z-index: 1;
}

.angular-nav {
  margin-left: 1vw;
}

.canvas {
  position: relative;
  left: 0;
  z-index: 2;
  min-height: 100%;
  background: #fff;
}

@media (min-width: 0) {
  .navbar-toggle {
    display: block; /* force showing the toggle */
  }
}

@media (min-width: 992px) {
  body {
    padding: 0;
  }
  .navbar {
    right: auto;
    background: none;
    border: none;
  }
  .canvas {
    padding: 0;
  }
}
